$primary-green: #00a04b;
$header-green: #00933a;
$body-background: rgba(0, 0, 0, 0.78);
$text-color: rgba(0, 0, 0, 0.9);
$light-gray: #f0f0f0;
$dark-gray: #666;
$light-gray-text: #f3f3f3;
$dark-gray-text: #d8d8d8;
$white: #ffffff;
