// Responsive file mainly for media queries 

// Mobile
@media screen and (max-width: $mobile-size) {
	.mobile-only {
		display: unset;
	}
	.desktop-only {
		display: none;
	}
}
// Mobile and up
@media screen and (min-width: $mobile-size) {
	.mobile-only {
		display: none;
	}
	.desktop-only {
		display: unset;
	}
}
